@import url("https://use.typekit.net/wtc6yih.css");

:root{
  --background-color: #2B2B2B;
  --secondary-background-color: #1a1a1a;
  --primary-color: #AB773A;
  --primary-color-opacity: #ab763ae8;
  --text-color: white;

    --title-font: bd-supper, sans-serif;
    --paragraph-font: europa, sans-serif;
    --sierlijk-font: "kapelka-new", script;

    --font-size-xs: 0.5rem;
    --font-size-s: 1rem;
    --font-size-m: 1.5rem;
    --font-size-l: 2rem;
    --font-size-xl: 3rem;

    --margin-xs: 0.5rem;
    --margin-s: 1rem;
    --margin-m: 2rem;
    --margin-l: 3rem;
    --margin-xl: 4rem;
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
  color: var(--text-color);
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

p{
  font-family: var(--paragraph-font);
  font-size: var(--font-size-s);
}

.preloader{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  display: grid;
  z-index: 9999;
  background-color: var(--background-color);
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.loading__wheel{
  width: 11vw;
  justify-self: center;
  align-self: center;
  animation: loading 1s infinite;
  grid-row: 1;
  grid-column: 1;
}

.loading__logo{
  width: 3vw;
  justify-self: center;
  align-self: center;
  grid-row: 1;
  grid-column: 1;
}

.loading__background{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.04;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper{
  overflow-x: hidden;
  position: relative;
}

.background__texture{
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.04;
}

.hidden{
  display: none;
}

.navigation{
  position: sticky;
  top: 0;
  background-color: rgba(60, 60, 60, 0.779);
  z-index: 99;
  cursor: pointer;
}

.navbar a{
  color: var(--text-color);
  text-decoration: none;
  font-family: var(--paragraph-font);
  cursor: pointer;
}

.navbar a:hover{
  color: var(--primary-color);
  cursor: pointer;
}

.navbar__container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.3rem;
  height: 3rem;
  width: 60vw;
  margin: 0 auto;

}

.logo{
  width: 1.5rem;
}

.main{
  min-height: 100vh;
}

.fold{
  height: 100vh;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 30vh 40vh 7vh;
}

.fold__background{
  grid-row: 1/ span 3;
  grid-column: 1;
  max-width: 80vw;
  opacity: 0.4;
  z-index: -1;
  justify-self: center;
  padding-block-end: 10%;
}

.fold__title{
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: center;
}

.fold__image{
  max-width: 30vw;
  grid-row: 2;
  grid-column: 1;
  justify-self: center;
}

.fold__scroll{
  grid-row: 3;
  grid-column: 1;
  justify-self: center;
}

.fold__arrows{
  grid-row: 4;
  grid-column: 1;
  justify-self: center;
  animation: bounce 2s infinite ;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

/* wist je dat  */

.wistjedat{
  color: var(--text-color);
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(4vh);
}

.wistjedat p{
  text-align: center;
  font-family: var(--title-font);
  font-size: var(--font-size-m);
}

.wistjedat em{
  color: var(--primary-color);
}

.wistjedat__content{
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  max-width: 50vw;
  margin-block-end: 3rem;
}

.wistjedat__more{
  grid-row: 2;
  grid-column: 1;
  margin-block-end: 3rem;
}

.note__arrow{
  grid-row: 3;
  grid-column: 1;
  justify-self: center;
}

/* image stack */

.image__stack{
  display : grid;
  grid-template-columns: 10vw 80vw 10vw;
  grid-template-rows: 100vh;
}

.image__stack__title{
  font-family: var(--paragraph-font);
  font-size: var(--font-size-m);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.image__stack__1, .image__stack__2, .image__stack__3, .image__stack__4{
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  max-width: 75vw;
  max-height: 50vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.image__stack__4{
  z-index: 1;
}

.image__stack__1{
  transform: rotate(15deg);
  z-index: 2;
}

.image__stack__2{
  transform: rotate(-10deg);
  z-index: 3;
}

.image__stack__3{
  transform: rotate(5deg);
  z-index: 4;
}

.image__stack__flag{
  grid-column: 3;
  grid-row: 1;
  justify-self: flex-start;
  transform: rotate(90deg);
  align-self: center;
} 

/* intro */

.intro{
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: repeat(4vh);
}

.intro__quota{
  font-size: var(--font-size-xl);
  font-family: var(--title-font);
  grid-row: 1;
  grid-column: 1;
  max-width: 50vw;
  margin-inline-start: 30vw;
}

.intro__text{
  grid-row: 2;
  grid-column: 1;
  max-width: 30vw;
  justify-self: center;
  line-height: 140%;
}

.straatmuzikant{
  max-width: 40vw;
  margin: 0 auto;
  display: grid;
  margin-block-end: 10%;
}

/* parts */

.accordion__parts__title{
  font-family: var(--title-font);
  font-size: var(--font-size-xl);
  text-align: center;
  margin-block-end: 5%;
}

.accordion__parts__whisper{
  font-family: var(--sierlijk-font);
  font-size: var(--font-size-m);
  color: var(--primary-color);
  text-align: center;
  margin-block-end: 5%;
}

.accordion__parts{
  display: grid;
  max-width: 70vw;
  margin-block-start: 10%;
  margin-block-end: 10%;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
  margin: 0 auto;
}

.accordion__parts h2{
  font-family: var(--title-font);
  font-size: var(--font-size-l);
}

.accordion__parts p{
  font-family: var(--paragraph-font);
  font-size: var(--font-size-m);
  line-height: 140%;
  padding: 2rem;
}

.accordeon__overview{
  grid-row: 2;
  grid-column: 2;
  justify-self: center;
  align-self: center;
  max-width: 30vw;
}

.klavier__container, .knoppen__container, .bellow__container{
  display: flex;
  gap: 2rem;
}

.klavier__container{
  grid-column: 1 /span 2;
  grid-row: 1;
}

.knoppen__container{
  grid-column: 2;
  grid-row: 3;
}

.bellow__container{
  grid-column: 2 /span 3;
  grid-row: 2;
  justify-self: flex-end;
}

.overlay__bellow, .overlay__klavier, .overlay__knoppen{
  display: none;
}

.overlay__bellow--active, .overlay__klavier--active, .overlay__knoppen--active{
  grid-column: 1/ span 3;
  grid-row: 1/span 3;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-background-color);
  justify-self: center;
  align-self: center;
  z-index: 3;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%;
}

.close{
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  z-index: 99;
}

.bellow__text__title, .klavier__text__title, .knoppen__text__title{
  font-family: var(--title-font);
  font-size: var(--font-size-l);
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
  align-self: center;
}

.bellow__text, .klavier__text, .knoppen__text{
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
  align-self: center;
}


/* turntable */

.turntable{
  display: grid;
  grid-template-rows: 80vh 20vh;
  grid-template-columns: 30vw 40vw 30vw;
}

.turntable__title{
  font-family: var(--title-font);
  font-size: var(--font-size-xl);
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.turntable__whisper{
  font-family: var(--sierlijk-font);
  font-size: var(--font-size-xl);
  color: var(--primary-color);
  padding-block-start: 10%;
  text-align: center;
}

.turntable__playlist{
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  align-self: center;
}

.turntable__playlist__item__1, .turntable__playlist__item__2, .turntable__playlist__item__3, .turntable__playlist__item__4{
  color: white;
  display: flex;
  gap: 1.5rem;
  margin-block-start: 1rem;
}

.playlist__artist{
  font-family: var(--title-font);
  font-size: var(--font-size-s);
  margin-block-end: 5%;
  margin-block-start: 5%;
}

.playlist__track{
  font-family: var(--paragraph-font);
  font-size: var(--font-size-m);
}

.turntable__vinyl{
  grid-row: 1;
  grid-column: 2;
  justify-self: center;
  align-self: center;
  max-width: 35vw;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

.spin{
  animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.turntable__about{
  grid-row: 1;
  grid-column: 3;
  justify-self: center;
  align-self: center;
  max-width: 50vw;
  max-height: 50vh;
}

.turntable__playlist__cover{
  max-width: 5vw
}

.cover__playing{
  max-width: 10vw;
}

.artist__playing{
  font-family: var(--title-font);
  font-size: var(--font-size-s);
  margin-block-start: 5%;
}

.track__playing{
  font-family: var(--paragraph-font);
  font-size: var(--font-size-m);
  margin-block-start: 5%;
}

.about__playing{
  max-width: 20vw;
  font-family: var(--paragraph-font);
  margin-block-start: 5%;
  line-height: 140%;
}

.turntable__playpause{
  grid-row: 2;
  grid-column: 2;
  align-self: flex-start;
  display: flex;
  justify-self: center;
  gap: 1rem;
}

.turntable__background{
  grid-row: 1/span 2;
  grid-column: 2/span 3;
  z-index: -1;
  height: 100%;
  opacity: 0.4;
}

/* history */

.history__title{
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--title-font);
  padding-block-start: 10%;
}

.history__subtitle{
  text-align: center;
  font-size: var(--font-size-m);
  font-family: var(--title-font);
  margin-block-end: 5%;
}

.history__whisper{
  text-align: center;
  font-size: var(--font-size-m);
  font-family: var(--sierlijk-font);
  color: var(--primary-color);
  margin-block-end: 5%;
}

.history{
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 50vw 1fr;
  grid-template-rows: repeat(10);
  row-gap: 4rem;
  column-gap: 4rem;
}

.history h3{
  font-family: var(--title-font);
  font-size: var(--font-size-l);
}

.history p{
  line-height: 150%;
}

.history__image__1, .history__image__2, .history__image__3, .history__image__4, .history__image__5{
  width: 80%;
  justify-self: center;
  align-self: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wood__1, .wood__2, .wood__3, .wood__4, .wood__5{
  height: 3rem;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wood__1{
  grid-row: 1;
  grid-column: 1;
}

.history__title_1{
  grid-row: 1;
  grid-column: 1;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  
}

.history__text_1{
  grid-row: 1;
  grid-column: 2;
}

.history__image__1{
  grid-row: 2;
  grid-column: 2;
  width: 60%;
}

.wood__2{
  grid-row: 3;
  grid-column: 3;
}

.history__title_2{
  grid-row: 3;
  grid-column: 3;
  justify-self: start;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.history__text_2{
  grid-row: 3;
  grid-column: 2;
}

.history__image__2{
  grid-row: 4;
  grid-column: 2;
  width: 60%;
}

.wood__3{
  grid-row: 5;
  grid-column: 1;
}

.history__title_3{
  grid-row: 5;
  grid-column: 1;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.history__text_3{
  grid-row: 5;
  grid-column: 2;
}

.history__image__3{
  grid-row: 6;
  grid-column: 2;
  width: 60%;
}

.wood__4{
  grid-row: 7;
  grid-column: 3;
}

.history__title_4{
  grid-row: 7;
  grid-column: 3;
  justify-self: start;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.history__text_4{
  grid-row: 7;
  grid-column: 2;
}

.history__image__4{
  grid-row: 8;
  grid-column: 2;
  width: 60%;
}

.wood__5{
  grid-row: 9;
  grid-column: 1;
}

.history__title_5{
  grid-row: 9;
  grid-column: 1;
  writing-mode: vertical-rl;
  text-orientation: mixed;
}

.history__text_5{
  grid-row: 9;
  grid-column: 2;
}

.history__image__5{
  grid-row: 10;
  grid-column: 2;
  width: 60%;
}

.artist__title{
  text-align: center;
  font-size: var(--font-size-xl);
  font-family: var(--title-font);
  padding-block-start: 10%;
  margin-block-end: 5%;
}

.artist{
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 40vh 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 25vw;
  min-width: 20vw;
  background-color: var(--secondary-background-color);
  padding: 2rem;
  row-gap: 1rem;
  margin-block-end: 10%;
}

.artist h4{
  font-family: var(--title-font);
  font-size: var(--font-size-l);
}

.artist p{

}

.artist__image{
  grid-row: 1;
  grid-column: 1/ span 2;
  max-width: 20vw;
  justify-self: center;
  align-self: flex-end;
  filter: grayscale(100%);
}

.artist__name{
  grid-row: 2;
  grid-column: 1/ span 2;
  font-family: var(--title-font);
  font-size: var(--font-size-m);
}

.artist__songs{
  grid-row: 3;
  grid-column: 2;
  font-size: var(--font-size-m);
  align-self: flex-end;
}

.artist__number{
  grid-row: 3;
  grid-column: 1;
  font-size: var(--font-size-xl);
}

.artist__influence{
  grid-row: 6;
  grid-column: 2;
  align-self: flex-end;
}

.artist__influence__1, .artist__influence__2, .artist__influence__3{
  font-size: var(--font-size-m);
  align-self: flex-end;
}

.artist__influence__1{
  grid-row: 4;
  grid-column: 1;
}

.artist__influence__2{
  grid-row: 5;
  grid-column: 1;
}

.artist__influence__3{
  grid-row: 6;
  grid-column: 1;
}

.artist__flag{
  grid-row: 7;
  grid-column: 1/ span 2;
  width: 100%;
  height: 1rem;
  align-self: flex-end;
}

.top__button{
  background-color: #00000082;
  padding: 2rem;
  border-radius: 100px;
  width: 5vw;
  margin: 0 auto;
}

.top__note{
  width: 1.5vw;
  margin: 0 auto;
}

.top__text{
  color: var(--primary-color);
  text-align: center;
}

footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--title-font);
  font-size: var(--font-size-s);
  margin-block-start: 10%;
}

footer a{
  justify-self: center;
}

footer p{
  grid-column: 1/ span 3;
  text-align: center;
  justify-self: center;
}


@media (hover : hover) {
  .bellow__container:hover, .knoppen__container:hover, .klavier__container:hover{
    cursor: pointer;
    color: var(--primary-color);
  }

  .bellow__container svg path:hover, .knoppen__container svg path:hover, .klavier__container svg path:hover{
    cursor: pointer;
    fill: var(--primary-color);
  }

  .turntable__playlist__item__1:hover, .turntable__playlist__item__2:hover, .turntable__playlist__item__3:hover, .turntable__playlist__item__4:hover{
    cursor: pointer;
    color: var(--primary-color);
    
  }

  #overlay__1:hover, #overlay__2:hover, #overlay__3:hover, #overlay__4:hover, #overlay__5:hover{
    opacity: 0;
  }
  
}

@media (hover : none) {
  .history__whisper{
    display: none;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px){

  body{
    overflow-x: hidden;
  }

  .wrapper{
    overflow-x: hidden;
    position: relative;
  }

  .navbar{
    display: none;
  }

  .fold{
    margin-block-start: var(--margin-l);
  }

  .fold__title{
    max-width: 65vw;
  }

  .fold__image{
    min-width: 40vw;
    grid-row: 2;
    grid-column: 1/span 3;
    justify-self: center;
  }

  .fold__background{
    min-width: 80vw;
  }

  .wistjedat__content{
    max-width: 90vw;
  }

  .image__stack{
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-columns: 100vw;
  }
  
  .image__stack__title{
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: end;
    writing-mode: horizontal-tb;
  }

  .image__stack__1, .image__stack__2, .image__stack__3, .image__stack__4{
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    max-width: 75vw;
    max-height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  .image__stack__flag{
    grid-column: 1;
    grid-row: 3;
    transform: rotate(0deg);
    justify-self: center;
  } 

  .intro__quota{
    justify-self: center;
    margin-inline-start: 0;
  }

  .intro__text{
    max-width: 60vw;
    opacity: 1;
  }

  .straatmuzikant{
    max-width: 80vw;
  }

  .accordion__parts{
    margin-block-end: 10%;
  }

  .turntable__whisper{
    padding-block-start: 5%;
  }

  .turntable__vinyl{
    max-width: 35vw;
  }

  /* history */

  .history{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 85vw 1fr;
    grid-template-rows: 1rem 1 1fr 1rem 1fr 1fr 1rem 1fr 1fr 1rem 1fr 1fr 1rem 1fr 1fr;
    row-gap: 4rem;
    column-gap: 0rem;
  }

  #overlay__1, #overlay__2, #overlay__3, #overlay__4, #overlay__5{
    opacity: 1;
  }

  .history h3{
    font-family: var(--title-font);
    font-size: var(--font-size-l);
    writing-mode: horizontal-tb;
  }
  
  .history p{
    line-height: 150%;
  }
  
  .wood__1, .wood__2, .wood__3, .wood__4, .wood__5{
    height: 2rem;
    width: 200%;
    z-index: -1;
    opacity: 0.7;
  }
  
  .wood__1{
    grid-row: 1;
    grid-column: 1;
  }
  
  .history__title_1{
    grid-row: 1;
    grid-column: 2;
    
  }
  
  .history__text_1{
    grid-row: 2;
    grid-column: 2;
  }

  .history__image__1{
    grid-row: 3;
    grid-column: 2;
    width: 90%;
  }
  
  .wood__2{
    grid-row: 4;
    grid-column: 3;
    justify-self: end;
  }
  
  .history__title_2{
    grid-row: 4;
    grid-column: 2;
    justify-self: end;
  }
  
  .history__text_2{
    grid-row: 5;
    grid-column: 2;
  }

  .history__image__2{
    grid-row: 6;
    grid-column: 2;
    width: 90%;
  }
  
  .wood__3{
    grid-row: 7;
    grid-column: 1;
  }
  
  .history__title_3{
    grid-row: 7;
    grid-column: 2;
  }
  
  .history__text_3{
    grid-row: 8;
    grid-column: 2;
  }

  .history__image__3{
    grid-row: 9;
    grid-column: 2;
    width: 90%;
  }
  
  .wood__4{
    grid-row: 10;
    grid-column: 3;
    justify-self: end;
  }
  
  .history__title_4{
    grid-row: 10;
    grid-column: 2;
    justify-self: end;
  }
  
  .history__text_4{
    grid-row: 11;
    grid-column: 2;
  }

  .history__image__4{
    grid-row: 12;
    grid-column: 2;
    width: 90%;
  }
  
  .wood__5{
    grid-row: 13;
    grid-column: 1;
  }
  
  .history__title_5{
    grid-row: 13;
    grid-column: 2;
  }
  
  .history__text_5{
    grid-row: 14;
    grid-column: 2;
  }

  .history__image__5{
    grid-row: 15;
    grid-column: 2;
    width: 90%;
  }

  .artist{
    grid-template-rows: 30vh 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 40vw;
  }

  .artist__image{
    max-width: 40vw;
  }
}





@media screen and (max-width: 767px) {

  body{
    overflow-x: hidden;
  }

  .wrapper{
    overflow-x: hidden;
  }

  .navbar{
    display: none;
  }

  .fold{
    margin-block-start: 3rem;
  }

  .fold__title{
    width: 80vw;
  }

  .fold__image{
    min-width: 65vw;
  }

  .wistjedat__content{
    max-width: 90vw;
  }

  .image__stack{
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-columns: 100vw;
  }
  
  .image__stack__title{
    grid-column: 1;
    grid-row: 1;
    justify-self: center;
    align-self: end;
    writing-mode: horizontal-tb;
  }

  .image__stack__1, .image__stack__2, .image__stack__3, .image__stack__4{
    grid-column: 1;
    grid-row: 2;
    justify-self: center;
    align-self: center;
    max-width: 75vw;
    max-height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  .image__stack__flag{
    grid-column: 1;
    grid-row: 3;
    transform: rotate(0deg);
    justify-self: center;
  } 

  .intro__quota{
    justify-self: center;
    margin-inline-start: 0;
  }

  .intro__text{
    max-width: 90vw;
    opacity: 1;
  }

  .overlay__bellow--active, .overlay__klavier--active, .overlay__knoppen--active{
    grid-column: 1/ span 3;
    grid-row: 1/span 3;
    height: 100%;
    width: 100%;
    background-color: var(--secondary-background-color);
    justify-self: center;
    align-self: center;
    z-index: 3;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
  }

  .bellow__text, .klavier__text, .knoppen__text{
    grid-column: 1/span 3;
    grid-row: 2;
    justify-self: center;
    align-self: center;
  }

  .accordion__parts{
    max-width: 90vw;
    margin-block-start: 20%;
    margin-block-end: 20%;
  }
  
  .accordeon__overview{
    max-width: 60vw;
  }

  .accordion__parts p{
    font-size: var(--font-size-s);
    line-height: 160%;
  }

  .bellow, .klavier, .knoppen{
    display: none;
  }

  .info_1{
    align-self: center;
  }

  .turntable{
    grid-template-rows: 40vh 10vh 40vh ;
    grid-template-columns: repeat(50vw);
  }

  .turntable__title{
    margin-block-end: 10%;
    font-size: var(--font-size-l);
  }

  .turntable__playlist{
    grid-row: 3;
    grid-column: 1/span 3;
    justify-self: center;
    align-self: center;
  }

  .turntable__playlist__item__1:hover, .turntable__playlist__item__2:hover, .turntable__playlist__item__3:hover, .turntable__playlist__item__4:hover{
    display: none;
  }

  .turntable__vinyl{
    grid-row: 1;
    grid-column: 2;
    margin-inline-start: 100vw;
    min-width: 80vw;
    height: auto;
  }

  .turntable__about{
    grid-row: 1;
    grid-column: 1/ span 2;
  }

  .about__playing{
    max-width: 90vw;
  }

  .cover__playing{
    max-width: 30vw;
  }

  .turntable__playlist__cover{
    max-width: 15vw;
  }

  /* history */

  .history__title{
    margin-block-start: 30%;
  }

  .history{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 85vw 1fr;
    grid-template-rows: 1rem 1 1fr 1rem 1fr 1fr 1rem 1fr 1fr 1rem 1fr 1fr 1rem 1fr 1fr;
    row-gap: 4rem;
    column-gap: 0rem;
  }

  #overlay__1, #overlay__2, #overlay__3, #overlay__4, #overlay__5{
    opacity: 1;
  }

  #overlay__1:hover, #overlay__2:hover, #overlay__3:hover, #overlay__4:hover, #overlay__5:hover{
    opacity: 1;
  }

  .history h3{
    font-family: var(--title-font);
    font-size: var(--font-size-l);
    writing-mode: horizontal-tb;
  }
  
  .history p{
    line-height: 150%;
  }
  
  .wood__1, .wood__2, .wood__3, .wood__4, .wood__5{
    height: 2rem;
    width: 200%;
    z-index: -1;
    opacity: 0.7;
  }
  
  .wood__1{
    grid-row: 1;
    grid-column: 1;
  }
  
  .history__title_1{
    grid-row: 1;
    grid-column: 2;
    
  }
  
  .history__text_1{
    grid-row: 2;
    grid-column: 2;
  }

  .history__image__1{
    grid-row: 3;
    grid-column: 2;
    width: 90%;
  }
  
  .wood__2{
    grid-row: 4;
    grid-column: 3;
    justify-self: end;
  }
  
  .history__title_2{
    grid-row: 4;
    grid-column: 2;
    justify-self: end;
  }
  
  .history__text_2{
    grid-row: 5;
    grid-column: 2;
  }

  .history__image__2{
    grid-row: 6;
    grid-column: 2;
    width: 90%;
  }
  
  .wood__3{
    grid-row: 7;
    grid-column: 1;
  }
  
  .history__title_3{
    grid-row: 7;
    grid-column: 2;
  }
  
  .history__text_3{
    grid-row: 8;
    grid-column: 2;
  }

  .history__image__3{
    grid-row: 9;
    grid-column: 2;
    width: 90%;
  }
  
  .wood__4{
    grid-row: 10;
    grid-column: 3;
    justify-self: end;
  }
  
  .history__title_4{
    grid-row: 10;
    grid-column: 2;
    justify-self: end;
  }
  
  .history__text_4{
    grid-row: 11;
    grid-column: 2;
  }

  .history__image__4{
    grid-row: 12;
    grid-column: 2;
    width: 90%;
  }
  
  .wood__5{
    grid-row: 13;
    grid-column: 1;
  }
  
  .history__title_5{
    grid-row: 13;
    grid-column: 2;
  }
  
  .history__text_5{
    grid-row: 14;
    grid-column: 2;
  }

  .history__image__5{
    grid-row: 15;
    grid-column: 2;
    width: 90%;
  }

  .artist__title{
    margin-block-start: 20%;
    font-size: var(--font-size-l);
  }

  .artist{
    grid-template-rows: 30vh 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 60vw;
  }

  .artist__image{
    max-width: 60vw;
  }
}

