@import url("https://use.typekit.net/wtc6yih.css");

:root{
    --background-color: #2B2B2B;
    --primary-color: #AB773A;
    --text-color: white;

    --title-font: bd-supper, sans-serif;

    --font-size-xs: 0.5rem;
    --font-size-s: 1rem;
    --font-size-m: 1.5rem;
    --font-size-l: 2rem;
    --font-size-xl: 3rem;
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

.header{
  height: 100vh;
}

.header__background{
  position: absolute;
  width: 70vw;
  margin-inline-start: 5vw;
  margin-block-start: 10vh;
  opacity: 0.7;
}

.header__content{
  position: relative;
}

h1{
  font-family: var(--title-font);
  font-size: 7rem;
  color: #fff;
  text-align: center; 
}

.main{
  min-height: 100vh;
}

/* wist je dat  */

.wistjedat{
  color: var(--text-color);
}

.wistjedat p{
  text-align: center;
  font-family: var(--title-font);
  font-size: var(--font-size-m);
}

.wistjedat em{
  color: var(--primary-color);
}

.wistjedat__content{
  margin-block-start: 3vh;
  margin-block-end: 3vh;
  width: 50vw;
  margin: 0 auto;
}

.wistjedat__more{

}

.note__arrow{
  width: 5vw;
  margin-inline-start: 42.5vw;
}

/* turntable */

.turntable__title{
  font-family: var(--title-font);
  font-size: 2rem;
  color: var(--primary-color);
}

.turntable__container{
  display: flex;
}

.turntable__playlist{

}

.turntable__playlist__item{
  color: white;
  display: flex;
}

.turntable__vinyl{
  width: 40vw;
}

@media screen and (max-width: 800px) {
  
}

